<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        
        <p id="first">Enter number of questions</p>
        
            <input type="number" id="count"  value=0>
            <input type=submit onclick="create()">
        <form action='/addQuiz' method='POST'>
            <div id="questions"></div>
        </form>
        <script src="../views/myscript.js"></script>
    </body>
</html>