<!DOCTYPE html>
<html>
    <head>

    </head>
    <div class="topnav">
        <a href="/profile">profile</a>
        <a href="/home">home</a>
        <a href="/about">About</a>
    </div>
    <body >
        <h1>Your result is <%= result %> </h1>
        
    </body>
</html>