<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="logo.png" alt="" style="height: 2rem;"> </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/home">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <ul>
        <div class="container" style="position: relative;top: 1rem;">
            <% data.attemptedQuiz.forEach(function(dat,ind) { %>
            <div class="card">
                <h5 class="card-header"><%=dat.quizId.quizName%></h5>
                <div class="card-body">
                    <a class="card-link btn btn-primary" href='/result?quizId=<%=dat._id%>'>
                        See result
                    </a>
                </div>
            </div>
            <% }); %>
    </ul>
    </div>
    <script>
    </script>
</body>

</html>